<!DOCTYPE>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <style type="text/css">
    A:link {
      text-decoration: none;
      color: black;
    }

    A:visited {
      text-decoration: none;
      color: black;
    }

    A:hover {
      text-decoration: none;
      color: red;
    }
  </style>
  <style>
    body {
      background: #ffffff;
      padding: 50px 50px;
    }

    #login-form>div {
      margin: 15px 0;
    }
  </style>


  <likn rel="shortcut icon" type="image/x-icon" href="/favicon-16x16.png">
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/main"><img src="/favicon-32x32.png" alt="main" style= "height:26px; width:26px"/></a>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">A menu
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/board/1">Board</a>
            </li>
            <li>
              <%if(id){%>
                <a class="dropdown-item" href="/profile/<%=id%>">Profile</a>
                <%}%>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">B menu
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">One</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Two</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">Log
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%if(id){%>
                <a class="dropdown-item" href="/logout">Log out</a>
            </li>
            <%}else{%>
              <li>
                <a class="dropdown-item" href="/login">Log In</a>
              </li>
              <li>
                <a class="dropdown-item" href="/signup">Sign Up</a>
              </li>
              <%}%>
          </ul>
        </li>
      </ul>
    </nav>

    <p></p>
    <table class="table table-collaspe table-striped">
      <thead class="thead-dark">
        <tr>
          <th style="width:10%">No</th>
          <th style="width:50%">Title</th>
          <th style="width:10%">Id</th>
          <th style="width:15%">Datetime</th>
          <th style="width:15%">View</th>
        </tr>
        <tbody>
          <%if(results.length>=num*10){%>
            <%for(i=(num-1)*10; i<num*10; i++){%>
              <tr>
                <td>
                  <a href="/view/<%=results[i].no%>">
                    <%=results.length-i%>
                  </a>
                  <td>
                    <a href="/view/<%=results[i].no%>">
                      <%=results[i].title%>
                    </a>
                  </td>
                  <td>
                    <%=results[i].id%>
                  </td>
                  <td>
                    <%=results[i].date%>
                  </td>
                  <td>
                    <%=results[i].view%>
                  </td>
              </tr>
              <%}%>
                <%}else{%>
                  <%for(i=(num-1)*10; i<results.length; i++){%>
                    <tr>
                      <td>
                        <a href="/view/<%=results[i].no%>">
                          <%=results.length-i%>
                        </a>
                        <td>
                          <a href="/view/<%=results[i].no%>">
                            <%=results[i].title%>
                          </a>
                        </td>
                        <td>
                          <%=results[i].id%>
                        </td>
                        <td>
                          <%=results[i].date%>
                        </td>
                        <td>
                          <%=results[i].view%>
                        </td>
                    </tr>
                    <%}%>
                      <%}%>
        </tbody>
      </thead>
    </table>
    <form class="form-search form-inline pull-left" action="/search" method="post">
      <select class="form-control">
          <option name="title">Title</option>
          <option name="content">Content</option>
          <option name="titlecontent">Title + Contents</option>
          <option name="reply">Reply</option>
          <option name="id">ID</option>
        </select>
      <input type="text" class="form-control" name="search">
      <button type="submit" class="form-control btn btn-dark">Search</button>

      </form>
    <%if(id){%>
      <a href="/write"><button type="button" class="btn btn-dark" style="margin:0 95%">Write</button>
    </a>
      <%}%>
  <nav aria-label="...">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="/board/1">First</a></li>
      <%if(results.length%10==0){%>
        <%for(i=1; i<=results.length/10; i++){%>
        <li class="page-item">
          <a class="page-link" href="/board/"+i>
            <%=i%>
          </a>
        </li>
        <%}%>
      <%}else{%>
        <%if(results.length!=0){%>
          <%for(i=1; i<=(results.length/10)+1; i++){%>
            <li class="page-item">
              <a class="page-link" href="/board/<%=i%>">
                <%=i%>
              </a>
            </li>
          <%}%>
        <%}else{%>
          <li class="page-item">
            <a class="page-link" href="/board/1">1</a>
          </li>
        <%}%>
      <%}%>
    </ul>
  </nav>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>

</html>
