<!DOCTYPE>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <style type="text/css">
    A:link {
      text-decoration: none;
      color: black;
    }

    A:visited {
      text-decoration: none;
      color: black;
    }

    A:hover {
      text-decoration: none;
      color: red;
    }
  </style>
  <style>
    body {
      background: #ffffff;
      padding: 20px 0;
    }

    #login-form>div {
      margin: 15px 0;
    }
  </style>
  <likn rel="shortcut icon" type="image/x-icon" href="favicon-16x16.png" />
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/main"><img src="../favicon-32x32.png" alt="main" style= "height:26px; width:26px"/></a>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">A menu
                <b class="caret"></b>
              </a>
          <ul class="dropdown-menu">
            <li>
              <a href="/board/1">Board</a>
            </li>
            <li>
              <a href="/user/" +<%=id%>>Profile</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">B menu
                <b class="caret"></b>
              </a>
          <ul class="dropdown-menu">
            <li>
              <a href="#">One</a>
            </li>
            <li>
              <a href="#">Two</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Log
                <b class="caret"></b>
              </a>
          <ul class="dropdown-menu">
            <li>
              <%if(id){%>
                <a href="/logout">Log out</a>
            </li>
            <%}else{%>
              <li>
                <a href="/login">Log In</a>
              </li>
              <li>
                <a href="/signup">Sign Up</a>
              </li>
              <%}%>
          </ul>
        </li>
      </ul>
    </nav>
    <table class="table table-collaspe table-striped">
      <thead>
        <tr>
          <th style="width:10%">No</th>
          <th style="width:50%">Title</th>
          <th style="width:10%">Id</th>
          <th style="width:15%">Datetime</th>
          <th style="width:15%">View</th>
        </tr>
        <tbody>
          <%if(results.length>=num*10){%>
            <%for(i=(num-1)*10; i<num*10; i++){%>
              <tr>
                <td>
                  <a href="/view/<%=results[i].no%>">
                    <%=results.length-i%>
                  </a>
                  <td>
                    <a href="/view/<%=results[i].no%>">
                      <%=results[i].title%>
                    </a>
                  </td>
                  <td>
                    <%=results[i].id%>
                  </td>
                  <td>
                    <%=results[i].date%>
                  </td>
                  <td>
                    <%=results[i].view%>
                  </td>
              </tr>
              <%}%>
                <%}else{%>
                  <%for(i=(num-1)*10; i<results.length; i++){%>
                    <tr>
                      <td>
                        <a href="/view/<%=results[i].no%>">
                          <%=results.length-i%>
                        </a>
                        <td>
                          <a href="/view/<%=results[i].no%>">
                            <%=results[i].title%>
                          </a>
                        </td>
                        <td>
                          <%=results[i].id%>
                        </td>
                        <td>
                          <%=results[i].date%>
                        </td>
                        <td>
                          <%=results[i].view%>
                        </td>
                    </tr>
                    <%}%>
                      <%}%>
        </tbody>
      </thead>
    </table>
    <form class="form-search form-inline pull-left" action="/search" method="post">
      <select class="form-control">
          <option name="title">Title</option>
          <option name="content">Content</option>
          <option name="titlecontent">Title + Contents</option>
          <option name="reply">Reply</option>
          <option name="id">ID</option>
        </select>
      <input type="text" class="form-control" name="search">
      <button type="submit" class="form-control btn btn-primary">Search</button>
    </form>
    <%if(id){%>
      <a class="btn btn-primary pull-right" href="/write">Write
    </a>
      <%}%>
  </div>
  <div class="text-center">
    <ul class="pagination">
      <li><a href="/board/1">First</a></li>
      <%if(results.length%10==0){%>
        <%for(i=1; i<=results.length/10; i++){%>
        <li>
          <a href="/board/"+i>
            <%=i%>
          </a>
        </li>
        <%}%>
      <%}else{%>
        <%if(results.length!=0){%>
          <%for(i=1; i<=(results.length/10)+1; i++){%>
            <li>
              <a href="/board/<%=i%>">
                <%=i%>
              </a>
            </li>
          <%}%>
        <%}else{%>
          <li>
            <a href="/board/1">1</a>
          </li>
        <%}%>
      <%}%>
    </ul>
  </div>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>

</html>
