<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <style type="text/css">
    A:link {
      text-decoration: none;
      color: black;
    }

    A:visited {
      text-decoration: none;
      color: black;
    }

    A:hover {
      text-decoration: none;
      color: red;
    }
  </style>
  <style>
    body {
      background: #ffffff;
      padding: 50px 50px;
    }

    #login-form>div {
      margin: 15px 0;
    }
  </style>


  <likn rel="shortcut icon" type="image/x-icon" href="/favicon-16x16.png">
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="main"><img src="/favicon-32x32.png" alt="main" style= "height:26px; width:26px"/></a>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">A menu
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/board/1">Board</a>
            </li>
            <li>
              <%if(id){%>
                <a class="dropdown-item" href="/profile/<%=id%>">Profile</a>
                <%}%>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">B menu
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">One</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Two</a>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="btn btn-default dropdown-toggle" data-toggle="dropdown">Log
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%if(id){%>
                <a class="dropdown-item" href="/logout">Log out</a>
            </li>
            <%}else{%>
              <li>
                <a class="dropdown-item" href="/login">Log In</a>
              </li>
              <li>
                <a class="dropdown-item" href="signup">Sign Up</a>
              </li>
              <%}%>
          </ul>
        </li>
      </ul>
    </nav>

    <p></p>

        <div class="card border-light" style="width:100%">
          <img class="card-img-top" src="/logo2.png" alt="image">
          <div class="card-header" style="background:darkgrey">
            <div class="card-title text-center">
              <h5><a href="#">
                <%=results.title%>
              </a></h5>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <a class="float-right" href="/profile/<=%results.id%>">
                  <%=results.id%>
                </a>
              </li>
              <li class="list-group-item float-right">
                <a class="float-right" href="/profile/<=%results.date%>">
                  <%=results.date%>
                </a>
              </li>
              <li class="list-group-item">
                <h5>
                  <%=results.content%>
                </h5>
              </li>
            </ul>
          </div>
        </div>
        <table class="table table-striped" style="width:100%">
          <thead>
            <tr>
              <th style="width:10%">ID</th>
              <th style="width:60%">Reply</th>
              <th style="width:20%">Date</th>
              <th style="width:10%"></th>
            </tr>
            <tbody>
              <%for(i=0; i<results_reply.length; i++){%>
                <tr>
                  <td>
                    <%=results_reply[i].id%>
                  </td>

                  <td>
                    <%=results_reply[i].reply%>
                  </td>

                  <td>
                    <%=results_reply[i].date%>
                  </td>
                  <%if(results_reply[i].id==id){%>
                    <td class="float-right">
                      <a class="btn btn-danger" href="/delete_reply/<%=results_reply[i].no%>/<%=results_reply[i].id%>">Delete</a>
                    </td>
                    <%}else{%>
                      <td>
                      </td>
                      <%}%>
                </tr>
                <%}%>
            </tbody>
          </thead>
        </table>
        <%if(id){%>
          <div>
          <form action="/reply" method="post" style="width:100%">
            <textarea class="autosize" style='resize:none; width:100%; height:100%' rows='3' placeholder='Reply' name='reply'></textarea>
            <input type="hidden" name="board_no" value=results.no></input>
            <button class="btn btn-dark float-left" type="submit">Reply</input>
          </form>
        </div>
          <%}%>
            <%if(results.id==id){%>
              <div class="float-right">
              <a class="btn btn-warning" href="/update/<%=results.no%>/<%=results.id%>">Update</a>
              <a class="btn btn-danger" href="/delete/<%=results.no%>/<%=results.id%>">Delete</a>
              </div>
              <%}%>

  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>

</html>
