doctype html
html
  head
    link(rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    style.
      textarea.autosize{min-height:50px}
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-brand SCREENDOOR
        #myNavbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/main') Main
            li
              a(href='/board/1') Board
            if id
              li
                a.btn-danger(href='/logout') Logout
            else
              li
                a.btn-warning(href='/login') Login
              li
                a.btn-warning(href='/signup') Signup
    .container
      div
        p
          h1 Title
        p
          h2.text-primary #{results.title}
        hr
      div
        p
          h1 Content
        p
          =results.content
        hr
      div
        table.table.table-striped
          thead
            tr
              th(style='width:10%') ID
              th(style='width:65%') Reply
              th(style='width:20%') Date
              th(style='width:5%')
            tbody
              - for(i=0; i<results_reply.length; i++)
                tr
                  td #{results_reply[i].id}
                  td #{results_reply[i].reply}
                  td #{results_reply[i].date}
                  if results_reply[i].id == id
                    td
                      a.btn.btn-danger.pull-right(href='/delete_reply/' + results_reply[i].no + '/' + results_reply[i].id) Del
                  else
                    td
        form(action='/reply' method='post')
          textarea.autosize(style='resize:none;width:100%;height:100%' rows='3' placeholder='Reply' name='reply')
          input(type='hidden' name='board_no' value=results.no)
          input(type='submit' value='Reply')
      if results.id == id
        a.btn.btn-danger.pull-right(href='/delete/'+ results.no + '/' + results.id) Delete
        a.btn.btn-warning.pull-right(href='/update/'+ results.no + '/' + results.id) Update

    script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js")
